#hero {
    background-image: url('images/background.png');
    background-size: contain;
    background-position: top;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#logo img {
 margin-left: 7px;
 margin-top: 10px;
 height: 30px;
}
.navbar {
  margin: 80px;
  margin-top: 1px;
  display: flex;              
  justify-content: space-between; 
  align-items: center;       
  padding: 10px;
} 

.nav-links ul {
  list-style: none;          
  display: flex;            
  gap: 30px;              
  }
  .nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
  }
  .nav-links a:hover {
    color: #C271FF;
  }
  #maintopic h1 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: -20px;
  }
  .joy span {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 0px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    font-weight: bold;
  }
  #freebutton {
    display: block;
    margin-left: auto;  
    margin-right: auto;
    padding: 1% 15px;
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #C271FF;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 20px;
  }
  #freebutton:hover {
    background-color: #A64DFF;
  }
  #tutors {
    display: flex;
    justify-content: center;
    padding: 1% 15px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    border: none;
    margin-top: 50px; 
  }
  #learn {
    color: #C271FF;
  }
  
.tutorsmile {
  display: flex;
  flex-direction: column;     
  align-items: center;        
}

#tutorsimage {
  display: flex;
  flex-direction: row;   
  justify-content: center;      
  gap: 150px;               
  margin-top: 10px;
}

#tutorsimage img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#tutorsimage h3 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
  justify-content: right;
  font-style: italic;
}

#tutorsimage p {
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 9px;
  font-style: italic;
}
#quotes {
  display: flex;             
  align-items: flex-start;    
  gap: 40px;                  
  padding: 70px 350px 100px 350px;
  background-color: #C271FF;
  width: 100%;  
  box-sizing: border-box;
}

#quotes img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  padding-bottom: 20px, 0px, 20px, 0px;
}

.text {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  flex: 1;
}

.text blockquote h4 {
  margin: 0 0 10px 0;
  padding: 20px, 0px 0px, 0px;
  line-height: 1.4;
  font-size: 12px;
  font-weight: 50;
}

.text h3 {
  margin: 20px 0 2px 0;
  font-weight: bold;
  font-size: 15px;
}

.text p {
  margin: 2px 0 5px 0;
  font-size: 12px;
  font-style: italic;
}
#tutorialheading{
  text-align: center;
  margin: 50px 5px 50px 5px;
  }

#tutorialheading h2{
  font-weight: 100;
}
#popular {
  color: #C271FF;
  font-weight: bold;
}
.videosection {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 120px;  
  margin-right: 50px;
  max-width: 1200px;
  max-height: 400px;
  margin-bottom: 100px;

}
.videosection1 img{
  width: 255px;
  height: 154px;
}
.videosection1 {
  width: 255px;
  flex-direction: column;
  font-size: 14px;
}
.videosection1 h3{
  margin: 10px 0px 10px 0px;
  font-weight: bolder;
  font-size: 25;
}
.videosection1 p{
  margin: 10px 0px 10px 0px;
  font-size: 14px;
  color: #071629;
}

.thumb { 
  position: relative;
   width: 255px; 
   height: 154px; 
  }

.thumb img {
   display: block; 
   width: 100%; 
   height: 100%;  
  }

.play-icon { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.play-icon img { 
  width: 50px;
   height: 50px;
   }
.phlipimg {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.phlipimg img{
  height: 50px;
  width: 50px;
  margin-top: 1px;
}
.phillipstar {
  display: flex;
  flex-direction: column;
  color: #C271FF;
}
.phillipstar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 12px;
}
.time {
  margin-left: 80px;
  font-size: 12px;
  color: #C271FF;
}
/* #membership {
  background-color: 071629;
  padding: 50px 0;
  text-align: center;
  color: white;
}
#memberhead {
  color: #C271FF;
}
#membership h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}
.membership-item {
  display: flex;
  flex-direction: column; 
  /* align-items: center; 
  margin: 50px;
}

.membership-item img {
  height: 44px;
  width: 36px;
  margin-left: 100px;
  margin-bottom: 10px;    
}

.membership-item p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin-left: 20px;
  text-align: center;
} */
