main{
    flex-direction: row;
    display: flex;
    flex: auto;
}
body{
    display: flex;
    flex-direction: column;
    background: aliceblue;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
header{
    lighting-color: brown
}
